@import url(
  'https://fonts.googleapis.com/css?family=Amatic+SC|Armata|PT+Serif:400i');

  * {
    box-sizing: border-box;
}

html, body {
	height: 100%;
    margin: 0;
    background: #2e2c49;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.landingPage {
    /* width: 100%; */
    height: 100vh;
    background-image: url('../imgs/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.infoAndDate {
    /* width: 60%; */
    /* margin: 0 auto; */
    padding: 50px;
    background: #252931;
}

.logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speakers {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

.infoGrid {
    background-image: url(../imgs/back3.jpg);
    background-color: #222222;
    background-blend-mode: screen;
    background-size: cover;
    padding: 50px 0;

}

.infoTitle {
    grid-column: 3 /span 3;
}

.infoText {
    grid-column: 4 /span 6;
}

.speakersGrid {
    margin: 50px 0;
}

.speakersTitle {
    grid-column: 3 /span 2;
}

.speakerImgLeft {
    grid-column: 3 /span 2;
    margin: 0 auto;
}

.speakerTextLeft {
    grid-column: 5 /span 5;
    padding: 10px 0 0 0;
    float: left;
}

.speakerTextRight {
    grid-column: 4 /span 5;
    padding: 10px 0 0 0;
    text-align: right;
    float: right;
}

.speakerImgRight {
    grid-column: 9 /span 2;
    margin: 0 auto;
}

footer {
    height: 200px;
    background: black;
}

.socialMedia {
    margin: 0 auto;
    padding: 50px;
}

.smIcons {
    width: 40px;
    /* padding-left: 50px;
    padding-right: 50px; */
}

/* typography */
h1 {
    color: #e5f3ff;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    color: #e5f3ff;
}

h3 {
    font-family: 'Armata', sans-serif;
    font-size: 22px;
    color: #e5f3ff;
    border-bottom: #e5f3ff 2px solid;
}

p {
    font-family: 'Armata', sans-serif;
    font-size: 18px;
    color: #e5f3ff;
}

.moto {
    font-family: 'PT Serif', Serif;
    font-style: italic; 
    font-size: 45px;
    text-align: center;
    color: #878496;
    margin: 0;
    padding: 0;
}

.headingTitle {
    border-bottom: solid 3px #e5f3ff;
    text-align: left;
}

.item1 p, {
    text-align: center;
}

.infoAndDate p {
    width: 60%;
    text-align: center;
    margin: 50px auto;
}

figure {
    margin: 0;
}

figcaption {
    color: #e5f3ff;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
}

/* animation */
/* Followed video tutorial for Jasper animation: https://www.youtube.com/watch?v=y0Ic8QcvyK8 */
path {
    stroke: #e5f3ff;
    fill: #e5f3ff;
    stroke-dasharray: 1150;
    opacity: 10;
    animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1150;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1150;
    }

    90% {
        fill: rgba(229, 243, 255, 0);

    }

    100% {
        opacity: 10;
        fill: rgba(229, 243, 255, 1);
        stroke-dashoffset: 0;
    }
}

.title {
    opacity: 10;
    animation: animateTitle 6s;
}
@keyframes animateTitle {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;;
    }

    100% {
        opacity: 10;
    }
}