@import url(
  'https://fonts.googleapis.com/css?family=Amatic+SC|Armata|PT+Serif:400i');

  * {
	box-sizing: border-box;
}

html, body {
	height: 100%;
    margin: 0;
    background: #484575;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.landingPage {
    /* width: 100%; */
    height: 100vh;
    background-image: url('../imgs/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.speakers {
    border-radius: 50%;
    width: 200px;
}

/* .wrapper {
    max-width: 90vw;
    margin: 0 auto;
} */

.grid-parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.item1 {
    grid-column: 5/span 4;
}

.item2 {
    grid-column: 1 / -1;
}

.item3 {
    grid-column: 3 /span 2;
    margin: 0 auto;
}

.item4 {
    grid-column: 5 /span 5;
    padding: 70px 50px 0 0;
}

.item5 {
    grid-column: 4 /span 5;
    padding: 70px 0 0 50px;
    text-align: right;
    float: right;
}

.item6 {
    grid-column: 9 /span 2;
    margin: 0 auto;
}

.item7 {
    grid-column: 3 /span 2;
    margin: 0 auto;
}

.item8 {
    grid-column: 5 /span 5;
    padding: 70px 50px 0 0;
}

.item9 {
    grid-column: 4 /span 5;
    padding: 70px 0 0 50px;
    text-align: right;
    float: right;
}

.item10 {
    grid-column: 9 /span 2;
    margin: 0 auto;
}

footer {
    height: 200px;
    background: black;
}

.socialMedia {
    margin: 0 auto;
    padding: 50px;
}

.smIcons {
    width: 40px;
    /* padding-left: 50px;
    padding-right: 50px; */
}

/* typography */
h1 {
    color: #e5f3ff;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    color: #e5f3ff;
}

h3 {
    font-family: 'Armata', sans-serif;
    font-size: 22px;
    color: #e5f3ff;
    border-bottom: #e5f3ff 2px solid;
}

p {
    font-family: 'Armata', sans-serif;
    font-size: 18px;
    color: #e5f3ff;
}

.moto {
    font-family: 'PT Serif', Serif;
    font-style: italic; 
    font-size: 45px;
    text-align: center;
    color: #878496;
}

.item1 p {
    text-align: center;
}

figcaption {
    color: #e5f3ff;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
}

/* animation */
/* Followed video tutorial for Jasper animation: https://www.youtube.com/watch?v=y0Ic8QcvyK8 */
path {
    stroke: #e5f3ff;
    fill: #e5f3ff;
    stroke-dasharray: 1150;
    opacity: 10;
    animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1150;
    }

    30% {
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1150;
    }

    90% {
        fill: rgba(229, 243, 255, 0);

    }

    100% {
        opacity: 10;
        fill: rgba(229, 243, 255, 1);
        stroke-dashoffset: 0;
    }
}

.title {
    opacity: 10;
    animation: animateTitle 6s;
}
@keyframes animateTitle {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;;
    }

    100% {
        opacity: 10;
    }
}